// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// all colors for Nearbycare:
// carer background color/patient navbar:
$navy-blue: #025375;
// carer navbar color:
$moderate-cyan: #58abb7;
// carer icon stroke:
$vivid-yellow: #e7b102;
// additional carer:
$desaturated-cyan: #90ced3;

// patient icon stroke:
$grayish-blue: #a7a5ad;
// additional patient:
$gray-blue: #d8dce3;

//gradient patient background:
$pale-yellow: #FFFFCC;
$light-gray-blue: #E5E9ED;
