<%= month_calendar do |date, bookings| %>
  <%= date %>
    <% bookings.each do |booking| %>
    <div class="booking">
      <p><%= User.find(booking.patient_id).last_name %></p>
    </div>
    <% end %>
<% end %>
