<div data-search-movies="list">
  <p class="h3">
   <% if params[:query].blank? %>
    <h1 class="h3"><%= pluralize carers.count, 'carer' %> available</h1>
  <% else %>
    <h1 class="h3"><%= pluralize carers.count, 'result' %> for <code><%= params[:query] %></code></h1>
  <% end %>
  </p>
  <div class="carers">
    <% carers.each do |carer| %>
      <%= render 'carers_infos', carer: carer %>
    <% end %>
  </div>
</div>
