<%= week_calendar(number_of_weeks: 2) do |date| %>
  <%= date %>
<% end %>

<%# to link with bookings afterwards
  <% bookings.each do |booking| %>
    <%# <div>
      <%= booking.patient.name %>
    <%# </div>
  <% end %>
<%# <% end %>
