//yellow button with animation on hover
.btn-submit-yellow {
  background-color: $vivid-yellow;
  color: $moderate-cyan;
  border-radius: 40px;
  font-size: 20px;
  padding: 5px 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.btn-submit-yellow:hover {
  color: white;
  background-color: $moderate-cyan;
  transition: 0.4s;
}


//blue button with animation on hover
.btn-submit-blue {
  background-color: $navy-blue;
  color: $vivid-yellow;
  border-radius: 40px;
  font-size: 20px;
  padding: 5px 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.btn-submit-blue:hover {
  background-color: transparent;
  transition: 0.4s;
  border-color: grey;
  color: white;
}


//white button with animation on hover
.btn-submit-white {
  background-color: white;
  color: $moderate-cyan;
  border-radius: 40px;
  font-size: 20px;
  padding: 5px 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.btn-submit-white:hover {
  color: $navy-blue;
  background-color: transparent;
  transition: 0.4s;
  border-color: grey;
}


// button for devise - sign in, log in, etc...
.btn-submit-desaturated-cyan {
  background-color: $desaturated-cyan;
  color: white;
  border-radius: 40px;
  text-decoration-style: none;
  font-size: 16px;
  padding: 5px 20px;
  margin: 24px 16px 24px 16px;
}

.btn-submit-desaturated-cyan:hover {
  color: $navy-blue;
  background-color: $moderate-cyan;
  transition: 0.4s;
}


//carer-card button
.btn-submit-carer {
  background-color: white;
  color: grey;
  border-radius: 40px;
  font-size: 16px;
  padding: 5px 20px;
  margin: 4px;
  text-decoration: none;
  text-align: center;
  border-width: 0px;
}

.btn-submit-carer:hover {
  color: white;
  background-color: $moderate-cyan;
  transition: 0.4s;

}
