//yellow button with animation on hover
.btn-submit-yellow {
  background-color: $vivid-yellow;
  color: $navy-blue;
  border-radius: 40px;
  font-size: 20px;
  padding: 5px 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-decoration: none;
  &:hover {
  color: white;
  background-color: $moderate-cyan;
  transition: 0.4s;
  }
}

.btn-submit-yellow-2 {
  background-color: $vivid-yellow;
  color: $navy-blue;
  border-radius: 40px;
  font-size: 20px;
  padding: 5px 20px;
  margin-bottom: 4px;
  margin-top: 4px;
  text-decoration: none;
  &:hover {
    color: white;
    background-color: $moderate-cyan;
    transition: 0.4s;
  }
}

.btn-transparent-blue {
  background-color: white;
  color: $moderate-cyan;
  border-radius: 40px;
  font-size: 16px;
  padding: 5px 20px;
  margin: 0px 4px 0px 4px;
  text-decoration: none;
}
.btn-transparent-blue:hover {
  color: $navy-blue;
  background-color: $grayish-blue;
  transition: 0.1s;
}

//blue button with animation on hover
.btn-submit-blue {
  background-color: $navy-blue;
  color: $vivid-yellow;
  border-radius: 40px;
  font-size: 20px;
  padding: 5px 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-decoration: none;
  &:hover {
    background-color: transparent;
    transition: 0.4s;
    border-color: grey;
    color: white;
  }
}


//white button with animation on hover
.btn-submit-white {
  background-color: white;
  color: $moderate-cyan;
  text-align: center;
  border-radius: 40px;
  font-size: 20px;
  padding: 5px 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  &:hover {
  color: $navy-blue;
  background-color: transparent;
  transition: 0.4s;
  border-color: grey;
  }
}


.btn-submit-white-2 {
  background-color: white;
  color: $moderate-cyan;
  text-align: center;
  border-radius: 40px;
  font-size: 20px;
  padding: 5px 20px;
  margin: 8px;
  &:hover {
  color: $navy-blue;
  background-color: transparent;
  transition: 0.4s;
  border-color: grey;
  }
}

// button for devise - sign in, log in, etc...
.btn-submit-desaturated-cyan {
  background-color: $desaturated-cyan;
  color: white;
  border-radius: 40px;
  text-decoration-style: none;
  font-size: 16px;
  padding: 5px 20px;
  margin: 24px 16px 24px 16px;
  border-width: 0px;
  &:hover {
  color: $navy-blue;
  background-color: $moderate-cyan;
  transition: 0.4s;
  }
}

.btn-submit-desaturated-cyan-2 {
  background-color: $desaturated-cyan;
  color: white;
  border-radius: 40px;
  text-decoration-style: none;
  font-size: 16px;
  padding: 5px 20px;
  margin: 4px;
  border-width: 0px;
  &:hover {
  color: $navy-blue;
  background-color: $moderate-cyan;
  transition: 0.4s;
  }
}
//carer-card button
.btn-submit-carer {
  background-color: white;
  color: grey;
  border-radius: 40px;
  font-size: 16px;
  padding: 5px 20px;
  margin: 4px;
  text-decoration: none;
  text-align: center;
  border-width: 0px;
  &:hover {
  color: white;
  background-color: $moderate-cyan;
  transition: 0.4s;
  }
}

.btn-region-search {
  background-color: $moderate-cyan;
  color: white !important;
  border-radius: 40px;
  font-size: 16px;
  padding: 5px 20px;
  margin: 4px;
  text-decoration: none;
  text-align: center;
  &:hover {
  color: $moderate-cyan;
  background-color: white;
  transition: 0.4s;
  }
}
