<% user = User.find((Patient.find(@booking.patient_id)).user_id) %>
<% patient = Patient.find_by_user_id(@user.id) %>

<h3><%= user.last_name %> <%= @user.first_name %></h3>
  <% patient.health_conditions.each do |cond|%>
    <p><%= cond %></p> <br>
  <% end %>
<h3> Do you want to confirm your appointment</h3>
  <%= render 'carerconfirm', booking: @booking %>
