<div class="col-4">
  <div class="card">
    <%= simple_form_for([@patient, @booking]) do |f| %>
      <%= f.submit 'Confirm', class: 'btn btn-green' %>
      <%= f.submit 'Reject', class: 'btn btn-green' %>
    <% end %>
  </div>
</div>
