<div class="col-4">
  <div class="card">
    <%= simple_form_for([@carer, @booking]) do |f| %>
     <%= f.input :carer_confirmed %>
      <%= f.submit 'Confirm', class: 'btn btn-green' %>
      <%# <%= f.submit 'Reject', class: 'btn btn-green' %>
    <% end %>
  </div>
</div>
