<<<<<<< HEAD
<h1>Bookings#new</h1>
<p>Find me in app/views/bookings/new.html.erb</p>


<div style="width: 100%; height: 600px;"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
=======
<div class="container_2">
  <div class="patient-new-form">
    <div class="row">
      <div class="col">
        <div class="form p-3">
          <%= render 'form', booking: @booking %>
        </div>
      </div>
    </div>
  </div>
</div>
>>>>>>> f537ceaef14976d7db7ed061b0ce7e76a1bee706
