<% if current_user.carer? %>
  <div class="booking-card-outline">
  </div>
    <div class="container">
      <h3>Details on <%= User.find((Patient.find(@booking.patient_id)).user_id).last_name %></h3>
        <div class="carer-new-form">
          <div class="row">
            <div class="col">
              <div class="form p-3">
                <%= render 'bookedpatient', booking: @booking %>
              </div>
            </div>
          </div>
        </div>
    </div>
  <% else %>
    <div class="container_2">
    <h3>Details on <%= User.find((Carer.find(@booking.carer_id)).user_id).last_name %></h3>
        <div class="patient-new-form">
          <div class="row">
            <div class="col">
              <div class="form p-3">
                <%= render 'bookedcarer', booking: @booking %>
              </div>
            </div>
          </div>
        </div>
    </div>
  <% end %>
