<% if current_user.carer? %>
  <div class="booking-card-outline">

    <div class="container_3">
      <div class="booking-confirm-title">
        <h4>Details on patient <%= User.find((Patient.find(@booking.patient_id)).user_id).last_name %></h4>
      </div>
        <div class="carer-new-form">
          <div class="rowx">
            <div class="colx">
              <div class="form p-3">
                <%= render 'bookedpatient', booking: @booking %>
              </div>
            </div>
          </div>
        </div>
    </div>
  <% else %>
    <div class="container_2">
    <h3>Details on carer <%= User.find((Carer.find(@booking.carer_id)).user_id).last_name %></h3>
        <div class="patient-new-form">
          <div class="row">
            <div class="col">
              <div class="form p-3">
                <%= render 'bookedcarer', booking: @booking %>
              </div>
            </div>
          </div>
        </div>
    </div>
  <% end %>
</div>
