<div class="role-selection">
  <%= link_to "Carer", new_carer_path(current_user.id), class: "btn btn-primary" %>
  <%= link_to "Patient", new_patient_path(current_user.id), class: "btn btn-primary" %>
</div>
