register-card {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.form-group {
  display: grid;
  justify-items: center;

  margin-bottom: 1rem;
  padding: 20px 30px;
  border-radius: 20px;

  .h2 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }

  .simple_form{
    width: 100%;
  }
}


.logo-sm{
  width: 100px;
}


@media screen and (min-width: 700px) {
  width: 75vw;
}
