<body>
    <div class="grid">
        <container>
            <div class= home-main-icon>
              <img src="/assets/icon-login.svg" class="home-page-icon" alt="login" style="width:25%;">
                <div class="signin-button-icon">
                  <%# all button goes here %>
                </div>

                <div class="intro">
                  <img src="/assets/nearby-care-logo.svg" class="home-page-icon" alt="login">
                    <p style="color:grey"><strong>Stay in your comfort zone!</strong></p>
                    <p style="color:grey">Home is the best place for a loved one living with a disability. With the right care, they are able to continue their daily activities and live the highest possible quality of life in the comfort of their home.</p>
                </div>
            </div>
        </container>
    </div>
</body>
