//booking card -
// .booking-card {
// color: grey;
// }



.booking-card-outline {
  border: 1px solid white;
  border-radius: 16px;
  margin: 16px;
  width: 90vw;
  padding: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.booking-gif {
  width: 35vw;
}


@media screen and (min-width: 700px) {
  .booking-card-outline {
    width: 67vw;
  }
}
