.booking-card .btn-submit-carer {
width: 97%;
}


.booking-new {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  width: 100vw;
}


.booking-card-outline {
  border: 1px solid white;
  border-radius: 16px;
  margin: 16px;
  width: 90vw;
  padding: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.new-booking-gif {
  width: 35%;
  mix-blend-mode: multiply;
}

.booking-confirm-title>h4 {
  text-align: center;
  color: white;
  margin-top: 16px;
}

.booked-patient {
  color: $desaturated-cyan;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.booked-patient>h3 {
  color: $desaturated-cyan;
}

.two-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.two-button-horizontal {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: scale(0.9);
}

.carer-confirm-btn>#edit_booking_1 {
  transform: scale(1.2);
}

.carer-confirm-three-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carer-confirm-three-btn>.btn-submit-yellow {
  margin: 4px;
}

.cardx {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 700px) {
  .booking-card-outline {
    width: 67vw;
  }
}
