.simple-calendar {
  table {
    min-height: 80vh;
  }
  .today {
    background-color: $gray-blue;
  }
}

.booking {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $vivid-yellow;
  transition: background 0.3s ease;
}

.booking:hover {
  background: $moderate-cyan;
  color: white;
}

.booking{
  .confirmed {
    background-color: $yellow;
  }
  .notconfirmed {
    background-color: $desaturated-cyan;
  }
}
