.simple-calendar {
  table {
    min-height: 80vh;
  }
  .today {
    background-color: white;
  }
}

th {
  color: $vivid-yellow;
}

tr>td {
  color: white;
}



.table > :not(caption) > * > * {
  border-bottom-width: 2px;
  border-color: $vivid-yellow;
}

// .booking {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   color: white;
//   border-radius: 4px;
//   background: $moderate-cyan;
//   transition: background 0.3s ease;
//   margin: 4px;
// }

.notconfirmed {

}

.horizontal-scrolling-calendar {
  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;


  .horizontal-scroll {
    flex: 0 0 auto;
    width: 700px;
    margin: 24px;

  }
}

.day {
  color: white !important;
}

.calendar-heading {
background-color: $desaturated-cyan;
padding: 8px;
border-radius: 8px;
}
