.navy-blue-carer {
  background-color: $navy-blue;
}

.carer-new-form-icon {
  width: 100px;
  margin-top: 8px;
}

.carer-edit-form-icon{
  width: 100px;
  margin-top: 8px;
}

.carer-simple-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $desaturated-cyan;
}

.carers-new-form .btn-submit-desaturated-cyan {
width: 90%;
}

.carers-new-form .form-check-label {
  color: $desaturated-cyan;
}


.carer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
