.carer-photo {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin-top: 8px;
}

.carer-img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.carer-card-box {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  // word-wrap: break-word;
  background-image: linear-gradient(to right, rgba(216, 220, 227, 0.5), rgba(216, 220, 227, 0), rgba(216, 220, 227, 0.5));
  background-clip: border-box;
  border-radius: 24px;
  align-items: center;
  margin: 8px;
}

hr {
  width: 75vw;
  background-color:white;
  border: 2px solid white;
  opacity: 0.7;
  mix-blend-mode: overlay;
  margin-left: auto;
  margin-right: auto;
}

.hr-carer-list {
  width: 75%;
  background-color:white;
  border: 2px solid white;
  opacity: 0.7;
  mix-blend-mode: overlay;
  margin-left: auto;
  margin-right: auto;
}

//this is for the carer's card background when on blue background
.carer-card-box-as-carer {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  // word-wrap: break-word;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.25));
  background-clip: border-box;
  border-radius: 24px;
  align-items: center;
  margin: 8px;
  // border: 1px solid white;
}

.carer-card-box-as-carer>.carer-description {
  color: $desaturated-cyan;
  width: 90%;
  text-align: center;
}

.carer-card-box-as-carer>.card-body>h2 {
  color: white;
}

.carer-card-box-as-carer>.card-body>p {
  color: white;
}

//this is for the carer's card background when on gradient background
.carer-card-box-as-patient {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  // word-wrap: break-word;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.7));
  background-clip: border-box;
  border-radius: 24px;
  align-items: center;
  margin: 8px;
  border: 1px solid white;
}

.carer-card-box-as-patient>.carer-description {
  color: #58abb7;
  width: 90%;
  text-align: center;
}

.carer-card-box-as-patient>.card-body>h2 {
  color: $navy-blue;
}

.carer-card-box-as-patient>.card-body>p {
  color: $navy-blue;
}

.card-body {
  color: grey;
  width: 75%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.average-rating {
  background-color: white;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 8px;
  color: $grayish-blue;
  text-align: center;
}

.card-buttons {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

#card-button-in-list {
  width: 90%;
}

#carer-viewmore-card {
  width: 75vw;
}

.carer-card-border {
  border: 1px solid white;
  border-radius: 24px;
  margin: 16px;
}

.carer-card-border_2 {
  border: 0.5px solid white;
  border-radius: 24px;
  margin: 16px;
  width: 90vw;
}

.carer-card-border_3 {
  border: 0.5px solid white;
  border-radius: 24px;
  margin: 16px;
  width: 90vw;
  height: 60vh;
}

.carer-card-border_4 {
  border: 0.5px solid white;
  border-radius: 24px;
  margin: 16px;
  padding: 8px;
}


// styling for card carer when click on view more
.carer-viewmore {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}


//breakpoint for responsive on phone
@media screen and (min-width: 700px) {
  #carer-viewmore-card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 75vw;
  }
}
