@media screen and (max-width: 575px) {
  .search-region {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70vw;
    margin-bottom: 16px;
  }
  .search-specialty {
    width: 70vw;
    display: flex;
    flex-direction: column;
  }
}

#specialty-h4 {
  color: white !important;
  margin-left: auto;
  margin-right: auto;
}

.dropdown-item {
  text-decoration: none;
  color: $desaturated-cyan;
}

@media screen and (min-width: 576px) {
    .search-region {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 70vw;
    margin-bottom: 16px;
  }
  .search-specialty {
    color: white;
    width: 70vw;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 700px) {
  .search-region {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 50vw;
    margin-bottom: 16px;
  }
  .search-specialty {
    width: 50vw;
    display: flex;
    flex-direction: column;
  }

}

.direction-button {
padding-left: 8px;
padding-right: 8px;
padding-top: 4px;
padding-bottom: 4px;
}

.dropdown-item {
  color: $moderate-cyan;
}
