//gradient animation
body {
	background: linear-gradient(-45deg, #ffffcc, #e5e9ed, #90ced3);
	background-size: 400% 400%;
	animation: gradient 9s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.intro {
  align-items: center;
}
.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-icon {
  margin: 16px 32px 16px 32px;
}

.all-services-icon {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center
  }
  .all-services-icon:after {
    display: block;
    margin: 16px;
    flex: 999 999 auto;
  }



  #services-text {
    margin-top: 40px;
  }

// transparent gradient over gradient background
.home-main-icon {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75));
    width: 90vw;
    height: 300px;
    border-radius: 32px;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 16px 8px 16px 8px;

    display: flex;
    align-content: center;
    flex-direction: column;
  }

.container {
  background-color: rgba(255, 255, 255, 0.25);
  width: 90vw;
  border-radius: 32px;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 16px 8px 16px 8px;

  display: flex;
  align-content: center;
  flex-direction: column;
}

h3 {
  text-align: center;
}

p {
  font-size: 18px;
  text-align: center;
  width: 85%;
}

// button styling
.signin-button-icon {
  display: grid;

  width: 35vw;
}

.home-page-icon {
  width: 150px;
}

.services-icon {
  width: 75px;
  margin: 32px auto 16px auto;
}


//breakpoint for responsive on phone
@media screen and (min-width: 700px) {
  .responsive-grid {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;

    width: 75vw;
  }
  .home-page-icon {
    margin: 32px auto 16px aut0;
  }

  .home-main-icon {
    width: 33vw;
    position: sticky;
    top: 24px;
    margin-left: 24px;
  }

  .container {
    width: 67vw;
  }

  #home-page-icon {
    width: 35%;
  }

  p {
    width: 95%;
  }

}
