.navbar-lewagon {
  justify-content: space-between;
  background: $navy-blue;
  border-radius: 0px 0px 8px 8px;
}
//css for carer navbar color
.navbar-lewagon-carer{
  background: #58abb7;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}

.container-fluid {
  width: 93vw;
}

.nav-link {
  color: white;
}

.navbar-toggler-icon {
  color: white;
}

@media screen and (min-width: 700px) {
  .container-fluid{
    width: 78vw;
  }
}
