.patient-new-form {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: grey;
  align-items: stretch;
}


.patient-new-form-icon {
  width: 120px;
  margin-top: 8px;;
}


#review-icon {
  margin-top: 16px;
  mix-blend-mode: multiply;
}
