h3 {
  color: rgb(148, 148, 148);
}

.form-inputs {
  color: grey;
}

.simple-form-shared-links {
  display: flex;
  align-content: center;
  justify-content: space-around;
}

.carers-new-form {
  
}
