
.user-btn {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}

.title {
  color: $desaturated-cyan;
}

.participant video {
  width: 100%;
}

.participant {
  border-radius: 8px;
  transform: scale(0.9);
  overflow: hidden;
  // position: absolute;

  width: 95vw;

  video {
    border-radius: 8px;

  }
}


#userVideo {
  width: 50%;
  border-radius: 8px;
  // position: absolute;
  // left: auto;
  // top: auto;
  // margin: 16px;

}


.video-call {
  width: 75vh;
}


#leave-btn {
  color: white;
  margin: 16px;
  z-index: 1;
  width: 35vw;
  margin-top: 50px;
}

.remote-media-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90vw;
  align-items: baseline;
}


.title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-icon-loading {
  width: 30vw;
}
