
.user-btn {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}

.title {
  color: $desaturated-cyan;
}

.participant {
  border-radius: 8px;
  transform: scale(0.7);
  overflow: hidden;
  // position: absolute;

  width: 85vw;

  video {
    border-radius: 8px;

  }
}


#userVideo {
  width: 40%;
  border-radius: 8px;
  position: absolute;
  left: auto;
  top: auto;

}

.video-call {
  width: 75vh;
}


#leave-btn {
  color: white;
  margin: 16px;
  z-index: 1;
}

.remote-media-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
