.user-btn {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}

.title {
  color: white;
}

.participant {
  border-radius: 8px;
  overflow: hidden;
  video {
    border-radius: 8px;
    width: 40%;
  }
}

.remote-media-div {
}

#userVideo {
  width: 40%;
  border-radius: 8px;
}

.video-call {
  width: 75vh;
}
