.edit-role{
  .container{
    height: 70vh;
  }
}

.user-edit {
  display: flex;
  align-items: flex-end;

  .patient {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px;
  }

  .carer {
    margin: 8px;
  }
}

#icon-patient {
  height: 91px;
}


//devise edit button
.devise-edit-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.devise-edit-button .btn-submit-yellow {
  color: $navy-blue;
  margin-left: 16px;
  margin-right: 16px;
}
