<div class="container">
  <h1>Reviews</h1>

  <div class="card-product">
    <%= image_tag "" %>
    <div class="card-product-infos">
      <h2>Product name</h2>
      <p>Product description with <strong>relevant info</strong> only.</p>
    </div>
  </div>

</div>
