<div>
  <h4> Write a review about your booking with <%= (User.find((Carer.find((@booking.carer_id))).user_id)).first_name %></h4>
</div>
<div class="booking-new">
  <div class="booking-card-outline">
      <div class="container_3">
        <%= image_tag "icon-book-carer", class:"new-booking-gif", alt:"booking-image" %>
        <div class="patient-new-form">
          <div class="row">
            <div class="col">
              <div class="form p-3">
                <div data-controller="star">
                  <%= render 'review-form', review: @review %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
